*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
    margin: 0;
}

header{
	width: 100%;
}

.navegacion{
	width: 1150px;
	margin: 30px auto;
	background:#333333 ;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 25px 20px;
	color: white;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li a:hover{
	color: cadetblue;
	transition: all .3s;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #333333;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}
.main{
    padding-top: 6rem;
}
.ogo-nav-container{
    display: flex;
    justify-content: space-between;
}